@media only screen and (min-width: 64rem) {
    #burgerBox {
        display: none;
    }

    #headerTextInfo {
        width: 15%;
    }

    #headerLogo{
        height: auto;
        width: 10%;
        padding:2vw;
    }

    #large-nav {
        display: flex;
        justify-content: space-around;
    }

    #social-logo-box {
        display: block;
        padding-top: 50px;
        padding-right: 50px;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin-bottom: 20px;
    }

    #title {
        grid-column: 1/5;
    }

    main div {
        height: auto;
        width: auto;
        margin: 5px;
    }

    #hero {
        grid-column: 2/4;
        grid-row: 2/3;
        margin: 5px;
    }

    #hero img {
        object-fit: cover;
    }
    
    #hero h2 {
        font-size: xx-large;
    }
    
    #weather {
        grid-column:1/2;
        grid-row: 2/3;
    }

    #makeown {
        grid-column: 4/5;
        grid-row: 2;
        display: flex;
        padding:3px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #makeown a {
        width: 80%
    }

    #coastal {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column: 1/5;
        grid-row: 3;
        margin-bottom: 5px;
        height: auto;
    }
    .coastal-2, .coastal-3 {
        padding: 5px;
        display: block;
    }
    .last-time {
        grid-row: 5;
        grid-column: 2/4;
    }
    footer img {
        width: 50%;
    }
    .fresh-box { 
        width: 100%;
        grid-column: 2/4;
        grid-row: 1;
    }
    .call {
        grid-column: 2/4;
        grid-row: 2;
    }
    form {
        grid-column: 1/5;
        grid-row: 3;
        font-size: 1.6rem;
    }
    #foundation {
        grid-column: 2/4;
    }
    



}



