@media only screen and (min-width: 64rem) {
    #burgerBox {
        display: none;
    }

    #headerTextInfo {
        width: 15%;
    }

    #headerLogo{
        height: auto;
        width: 10%;
        padding:2vw;
    }

    #large-nav {
        display: flex;
        justify-content: space-around;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        margin-bottom: 20px;
    }

    main div {
        height: auto;
        width: auto;
        margin: 5px;
    }

    #banner
    {
        grid-column: 1/4;
        grid-row: 1/2;
    }
    #hero {
        grid-column: 2/3;
        grid-row: 2/4;
        margin:5px;
    }

    #hero img {
        object-fit: cover;
    }
    
    #hero h2 {
        font-size: xx-large;
    }
 
    #events {
        grid-column:1/2;
        grid-row: 2/3;
    }
    
    #weather {
        grid-column:1/2;
        grid-row: 3/4;
    }

    #join {
        display: flex;
        padding:3px;
        grid-column:1/2;
        grid-row: 4/5;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #join a {
        width: 80%
    }

    #news {
        grid-column: 2/3;
        grid-row: 4/5;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #spotlights {
        display: grid;
        grid-template-columns: 1fr;
        grid-column: 3/4;
        grid-row: 2/5;
        margin-bottom: 5px;
        height: auto;
    }
    .business-2 {
        padding: 5px;
        display: block;
    }

    .last-time p {
        background-color: #3caea3 ;
        text-align: center;
    }
    .last-time {
        grid-row: 5;
        grid-column: 1/4;
    }

    #footer-info-box2 {
        margin:auto;
    }

    #medium-footer {
        display:none;
    }

    #large-footer {
        display: block;
    }

    #large-footer p {
        font-size: medium;
    }

    /* discover page styles */

    .images-block {
        grid-column: 1/4;
    } 
    .images-block img:hover {
        opacity: .6;
        transform: scale(0.9);
    }
    /* join page */ 
    .container {
        grid-column: 2;
    
    }  
    
    /* Contact us page */

    .contact-box {
        display: grid;
        grid-column: 1/4;
        margin-left: 15%;
        margin-right: 15%;
    }
}



