h1, h2, h3 {
    font-family: 'Averia Serif Libre','Roboto', sans-serif;
}
p {
    font-family: 'Roboto', sans-serif;
}
body {
    max-width: 100%;
    margin: auto;
    padding: 2vw;
}
header {
    background-color: #6fbf73;
    color: #282A3E;
    margin-bottom: 30px;
    border: 1px solid #282A3E;
}
#header-flexbox {
    display: flex;
}
#headerLogo{
    height: auto;
    width: 15%;
    padding:2vw;
}
#headerLogo img {
    width: 100%;
    height: auto;
}
h1 {
    font-size: large;
}
#headerTextInfo {
    width:50%;
}
#headerTextInfo p {
    font-size: 0.9rem;
    background-color: #0f3c0f;
    color: white;
}
.social-image {
    height: auto;
    width: 40px;
}
#social-logo-box {
    width: fit-content;
    display: flex;
}
header nav{
    display: flex;
    flex: 1;
}
#primaryNav {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#head-date-holder {
    width: 80%;
    margin: auto;
    font-size: 1.5em;
    border-top: 1px solid #282A3E;
    text-align: center;
}
#large-nav {
    margin: auto;
    width: 50%;
    display: none;
}
#large-nav a {
    
    text-decoration: none;
    color: black;
    font-size: 2.3rem;
}
#large-nav a:hover {
    color: #6fbf73;
}
#burgerBox {
    flex:1;
    text-align: right;
}
#primaryNav{
    display: none;
    background-color: #6fbf73;
    color: black;
    text-align: left;
}
#hamburgerBtn {
    margin: .2rem 2vw;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: #282A3E;
}

#burgerBox.open {
    background-color: #0f3c0f;
}

#primaryNav.open {
    display: block;
}

#primaryNav li a{
    display: block;
    padding: .8rem 2vw;
    color:#CDCFDF;
    text-decoration: none;
    border-top: 1px solid rgba(0,0,0, 0.5)
}

#primaryNav li.active a, #primaryNav li:nth-child(2), #primaryNav li:nth-child(3) {
    background-color: #0f3c0f;
    color: #fff;
}


#primaryNav li a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.close, .close img{
    display: none;
}


#hamburgerBtn span:nth-child(1) {display:block;}
#hamburgerBtn span:nth-child(2) {display:none;}

#hamburgerBtn.open span:nth-child(1) {display:none;}
#hamburgerBtn.open span:nth-child(2) {display:block; color:#CDCFDF;}

main {
    display: grid;
}
main div {
    background-color: #0f3c0f;
    color:#CDCFDF;
    text-align: center;
}
main h2 {
    color: black;
    padding: 10px;
}

main p {
    font-size: large;
    padding: 10px;
    padding-bottom: 0px;
}

#title {
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}

#hero {
    grid-row: 2;
    position: relative;
    padding: 0px;
    background-color: transparent;
    margin: 0px;
}

#hero img{
    width:100%;
    height: 100%;
}

#hero h2 {
    color: black;
    text-shadow: 1px 1px 3px #e4c1f9;
    position: absolute;
    top: 5px;
    margin-top: 5px;
    left: 10px;
    background-color: #25D0BC;
}
#hero a {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #ffdc47;
    opacity: 0.95;
    padding:15px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    font-size: x-large;
}

#hero a:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

#weather {
    box-shadow: 0px 0px 10px #282A3E;
}

#weather-box-ph {
    display: flex;
    justify-content: space-around;
    height: auto;
}

#weather-box-ph img {
    width: 20%;
    height:auto;
}

#weather-box-ph p {
    font-size: xx-large;
    padding: 0px;
}

#weather-info-ph {
    padding-bottom: 5px;
    width: 50%;
    margin: auto;
}

#weather-info-ph hr {
    width: 100%;
}

#weather-info-ph p {
    text-align: left;
    padding: 0;
}

#weather-info-ph div {
    display: flex;
    justify-content: space-between;
}

#coastal {
    height: fit-content;
    margin-bottom: 15px;
    box-shadow: 0px 0px 10px #282A3E;
}

#coastal div {
    width: 90%;
    margin: 10px auto;
    box-shadow: 0px 0px 15px #282A3E;
}
#coastal img {
    height: auto;
    width: 100%;
    max-width: 279px;
    max-height: 371px;
}
#coastal h3 {
    font-size: 1.9rem;
    background-color: #f29213;
}
#coastal p {
    margin: 3px;
    padding: 1px;
}

.coastal-1, .coastal-0, .coastal-2, .coastal-3 {
    margin: 8px;
    border: 1px solid black;
}

.coastal-2, .coastal-3 {
    display: none;
}
#makeown{
    position: relative;
    background-color: white;
}
#makeown a {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: #ffdc47;
    color: #282A3E;
    font-size: 20px;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 1px 1px 20px black;
    max-width: 200px;
}

#makeown a:hover{
    background-color: rgba(255, 255, 255, 0.8);
}

#makeown p {
    font-size: larger;
}

#lastVisit {
    text-align: center; 
}

main div {
    padding: 10px;
    margin: 10px;
}

main div ul li {
    font-family: 'Dosis', sans-serif;
    padding: 10px;
    font-size: 16px;
    text-shadow: black 1px 1px 10px;
}

picture img {
    width: 90%;
    padding: 10px;
}

footer {
    border: solid 1px ;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    background-color: #6fbf73;
}
footer img {
    width: 100%;
}

#footer-logo {
    padding-left: 10px;
}

#footer-links {
    text-align: center;
    display: grid;
}
#footer-links a {
    color: black;
    font-size: 1.1rem;
}
#footer-social {
    padding-right: 12px;
    text-align: right;
}

#drink-img {
    width: 100%;
   
}

.last-time p {
    background-color:#ffdc47;
    color: black;
    text-align: center;
    grid-row: 7/7;
    grid-column: 2/2;
    font-size: 1.5rem;
    font-family: 'Averia Serif Libre','Roboto', sans-serif;

}

.images-block h1, h2 {
    background-color: #ffdc47;
    text-align: center;
    margin-bottom: 0;
}


main div {
    padding: 10px;
    margin: 10px;
}

.current-date {
    background-color: #ffdc47;
}

 /* Fresh Styles */

#drinksimg {
    width:  100%;
}
.fresh-title-msg {
    text-align: center;
    background-color: #0f3c0f;
    color: white;
}

.call {
    background-color: #ffdc47;
    text-align: center;
}
form {
    text-align: center;
    margin: auto;
    align-items: center;
    margin-bottom: 100px;
    background-color: #0f3c0f;
    color: white;
}

label {
    display: block;
    margin: 5px;
    padding: 8px;
}

form label.personal input, label.busisness input , label.busisness select {
    width: 100%;
}
fieldset {
    margin-bottom: 20px;
    background-color:  #0f3c0f;
    color: white;
}
textarea {
    width: 100%;    
}

form label.top input:required {
    border-left: red solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;
}

input[type="submit"] {
    margin-top: 1rem;
    text-align: center;
    background-color: #ffdc47;
    font-size: 1.4rem;
}

/* about us styles */

#foundation img {
    width: 100%;
}

#foundation a {
    color: #ffdc47;
}



