
.jack-id {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	background-color: blue;	
}

.jack-id h2 {
	color: white;
	text-align: left;
	padding: 150px;
	font-size: 40px;
	grid-column: 2/3;
	grid-row: 1/1;

}

img {
	padding: 50px;
	grid-column: 1/2;
	grid-row: 1/1;
}

h1, h2, .lessons {
	font-family: 'Averia Serif Libre', cursive;
}
