.jack-id {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	background-color: blue;
	
	
}

.jack-id h2 {
	color: white;
	text-align: left;
	padding: 150px;
	font-size: 40px;
	grid-column: 2/3;
	grid-row: 1/1;
	margin-left: -1400px;
}

img {
	z-index: 1;
	padding: 50px;
}