body {
	padding: 0;
	margin: 0;
}

header {
	background-color: #20639b;
	padding: 5px 0;
	display: grid;	
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
	border-bottom: 1px solid #bbb;
    align-items: center;
}

.logo {
	display: flex;
	margin-left: 10px;
}

.logo img {
	width: 40px;
	height: auto;
}
.headings {
	display: flex;
	flex-direction: column;
	margin-left: .5rem;
}

.headings h1 {
	font-size: 2rem;
    margin-top: -5px;
}
.m {
	letter-spacing: 1pt;
	font-weight: 700;
	font-size: 0.8em;
    margin-top: -20px;
    width: 100%;
    padding-right: 100px;
}
.social {
	text-align: right; 
    grid-column: 2;
    grid-row: 1;    
}
.social img {
    width: 24px;
}
nav {
	margin: 0 auto;
	max-width: 760px;	
    grid-column: 3;
}
.navigation {
    list-style: none;
    margin: 0;
    padding: 0;
}
.navigation li:first-child {
    display: block;
}
.navigation li {
    display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: black;
	font-weight: 700;
	transition: 0.5s;
	font-size: 2.8em
}

#menu::before {
	content: "≡";
	font-size: 2rem;
}

.navigation a:hover, .navigation a:active {
	color: white;
	background-color: black;
}
.responsive li {
	display: block;
}
.responsive #menu::before {
	content: "X";
}  
.date {
    grid-column: 1/4;
    text-align: center;
    height: 40px;
    background-color: #3caea3; 
    padding-top: 20px;
    font-size: 1.3em;
}
.blocks-of-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
}
img {
    width: 100%;
}

.event, .hero, .spot1, .weather, .spot2, .join, .news, .spot3 {
    background-color: gray;
    
    margin-bottom: 8px;
    text-align: left;
}
.hero {
    margin-top: 14px;
    grid-column: 1/3;
    grid-row: 1/1;
}

.hero p {
    position: absolute;
    left: 35%;
    color: beige;
    font-size: 1.5em;
}
.join-chamber {
    position: absolute;
    left: 55%;
    top: 45%;
    color: beige;
}
.event {
    grid-column: 1/3;
    grid-row: 2/2;
    text-align: center;
}
.event h1 {
    color: yellow
}
.event h2 {
    color: white;
}
.weather-img {
    grid-column: 1/3;
    grid-row: 3/3;
    display: grid;
    margin-bottom: 10px;
}
.weather-img img {
    width: 100%;
    height: 100%;
}
.weather-img h1 {
    position: absolute;
    font-size: 1.7em;
    left: 35%;
}
.news {
    grid-column: 1/3;
    grid-row: 4/4;
    text-align: center;
}
.news h1 {
    color: yellow;
}
.spots {
    grid-column: 1/3;
    grid-row: 5/5;
    background-color: gray;
    display: grid;
}
.spot1 {
    grid-column: 1/3;
    grid-row: 1/1;
    border: 1px solid black;
    width: 95%;
    margin: 10px;
    margin-bottom: 0;
    text-align: center;
}
.spot2 {
    grid-column: 1/3;
    grid-row: 2/2;
    border: 1px solid black;
    width: 95%;
    margin: 10px;
    margin-top: 0;
    text-align: center;
}
.join-us {
    display: none;
}
.spot3 {
    display: none;
}
footer {
    margin-top: 16px;
    padding-top: 16px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background-color: #20639b;
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
}
footer img {
    width: 100px;     
}
footer .foot-titles, .foot-contact {
    line-height: 0.8;
}
.last {
    max-width: 200px; 
}


 


